In [11]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if NOT exists test1")
mycursor.execute("CREATE TABLE if NOT exists test1.test_table (c1 INT, c2 VARCHAR(30), c3 FLOAT)")
mycursor.execute("INSERT into test1.test_table values(324,'krish',45.32)")
mycursor.execute("SELECT*FROM  test1.test_table")
#mydb.commit()
#mydb.close()
for i in mycursor.fetchall():
  print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f8c60422310>
(324, 'krish', 45.32)
(324, 'krish', 45.32)
(324, 'krish', 45.32)
(324, 'krish', 45.32)

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

SQL:

SQL stands for Structured Query Language.
SQL lets you access and manipulate databases.
SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987.

NOSQL:

While a variety of differences exist between relational database management systems (RDBMS) and NoSQL databases, one of the key differences is the way the data is modeled in the database. In this section, we'll work through an example of modeling the same data in a relational database and a NoSQL database. Then, we'll highlight some of the other key differences between relational databases and NoSQL databases.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. Creating a schema.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

DROP: This command is used to delete objects from the database.

ALTER: This is used to alter the structure of the database.

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

CREATE TABLE test_table;

DROP TABLE test_table;

ALTER TABLE Student ADD (AGE number(3),COURSE varchar(40));

TRUNCATE TABLE Student_details;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT : It is used to insert data into a table.

UPDATE: It is used to update existing data within a table.

DELETE : It is used to delete records from a database table.

INSERT INTO Student VALUES (‘5′,’HARSH’,’WEST BENGAL’,’XXXXXXXXXX’,’19’);

UPDATE Student SET NAME = 'PRATIK' WHERE Age = 20;

DELETE FROM Student WHERE NAME = 'Jon';

## Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.


SELECT * FROM test_table;

## Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [13]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if NOT exists test1")
mycursor.execute("CREATE TABLE if NOT exists test1.test_table (c1 INT, c2 VARCHAR(30), c3 FLOAT)")
mycursor.execute("INSERT into test1.test_table values(324,'krish',45.32)")
mycursor.execute("INSERT into test1.test_table values(324,'krish',45.32)")
mycursor.execute("SELECT*FROM  test1.test_table")
#mydb.commit()
#mydb.close()
for i in mycursor.fetchall():
  print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f8c60422fd0>
(324, 'krish', 45.32)
(324, 'krish', 45.32)
(324, 'krish', 45.32)
(324, 'krish', 45.32)
(324, 'krish', 45.32)

## Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the first clause that is processed is the FROM clause, while the SELECT clause, which appears first in an SQL query, is processed much later. The phases involved in the logical processing of an SQL query are as follows:

FROM clause

ON clause

OUTER clause

WHERE clause

GROUP BY clause

HAVING clause

SELECT clause

DISTINCT clause

ORDER BY clause

TOP clause