## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import pandas as pd
df = {"course_name":["Data Science", "Machine Learning", "Big Data", "Data Engineer"],
     "duration":[2,3,6,4]}

df = pd.DataFrame(df)

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Both loc and iloc are methods of the Pandas DataFrame used to access specific rows and columns of a dataframe.

The main difference between loc and iloc is the way they allow you to access data.

loc is a label-based method that uses the index label to access rows and column names to access columns. You can use loc to select specific rows and columns by specifying their names. For example, df.loc[2,'Name'] would give you the value in the 'Name' column of the row with the index label 2.

iloc is an integer-based method that uses integer location to access rows and columns. You can use iloc to select specific rows and columns by specifying their positions in the DataFrame. For example, df.iloc[2,0] would give you the value in the first column (position 0) of the third row (position 2).

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
 new_df = df.reindex([3,0,1,2])

In [16]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

while using new_df.loc[2], we get the output as 


course_name    Big Data
duration              6
Name: 2, dtype: object

while using new_df.iloc[2], we get the output as


course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q4. Write a code to find the following statistical measurements for the above dataframe df1: (i) mean of each and every column present in the dataframe. (ii) standard deviation of column, ‘column_2’

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [24]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.527903  0.696955  0.514654  0.683457  0.661843  0.495870
std    0.363339  0.230377  0.327537  0.247242  0.345361  0.193366
min    0.131650  0.324230  0.044826  0.318267  0.192661  0.150619
25%    0.252326  0.617481  0.274256  0.542919  0.386981  0.458947
50%    0.451150  0.690732  0.686501  0.713697  0.826885  0.537927
75%    0.856084  0.863585  0.742510  0.862378  0.894850  0.580857
max    0.956353  0.961768  0.772076  0.957148  0.966774  0.720959

In [26]:
df1["column_2"].std()

0.23037728830212428

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [27]:
df1.head(3)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.634586  0.657165  0.150297  0.957148  0.253367  0.540969
2  0.267715  0.324230  0.726870  0.533191  0.865946  0.594153
3  0.929916  0.724300  0.646132  0.864739  0.192661  0.433634

In [54]:
x = str(df1.iloc[1,1])

In [55]:
x.mean()

AttributeError: 'str' object has no attribute 'mean'

string object has no attribute "mean". That's why we get an error

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, a window function, also known as a rolling or moving function, is used to perform calculations over a sliding window of a fixed size. These functions are useful for analyzing time-series data, where you may want to calculate rolling statistics such as moving averages, standard deviations, or correlations.

Rolling is the example of a window function

## Q7. Write a code to print only the current month and year at the time of answering this question.

In [57]:
pd.datetime(2022)

/tmp/ipykernel_77/3598089764.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime(2022)

TypeError: function missing required argument 'month' (pos 2)

In [59]:
import datetime

current_date = datetime.datetime.now()

print("Current Month: ", current_date.strftime("%B"))
print("Current Year: ", current_date.strftime("%Y"))

Current Month:  April
Current Year:  2023

In [61]:
print(current_date)

2023-04-16 14:49:38.831702

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [68]:
import pandas as pd

# prompt the user to enter two dates in YYYY-MM-DD format
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

# convert the input strings to pandas datetime objects
start_datetime = pd.to_datetime(start_date)
end_datetime = pd.to_datetime(end_date)

# calculate the timedelta between the two dates
timedelta = end_datetime - start_datetime
days = timedelta.days
hours = timedelta.seconds // 3600
minutes = (timedelta.seconds % 3600) // 60

# print the result
print(f"The difference between {start_date} and {end_date} is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the start date (YYYY-MM-DD):  2022-03-22
Enter the end date (YYYY-MM-DD):  2022-04-25

The difference between 2022-03-22 and 2022-04-25 is:
34 days, 0 hours, and 0 minutes.

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# prompt the user to enter the file path, column name, and category order
file_path = input("Enter the path to the CSV file: ")
col_name = input("Enter the name of the column to convert: ")
categories = input("Enter the categories in the desired order (comma-separated): ").split(',')

# read the CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# convert the specified column to a categorical data type with the specified order
cat_dtype = pd.api.types.CategoricalDtype(categories=categories, ordered=True)
df[col_name] = df[col_name].astype(cat_dtype)

# sort the dataframe by the specified column
df_sorted = df.sort_values(col_name)

# display the sorted data
print(df_sorted)

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt the user to enter the file path
file_path = input("Enter the path to the CSV file: ")

# read the CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# group the dataframe by product category and year, and sum the sales
sales_by_category = df.groupby(['Category', 'Year']).sum()['Sales']

# pivot the sales data to create a stacked bar chart
sales_pivot = sales_by_category.reset_index().pivot(index='Year', columns='Category', values='Sales')

# create the stacked bar chart
sales_pivot.plot(kind='bar', stacked=True)

# set the chart title and axis labels
plt.title('Sales by Product Category over Time')
plt.xlabel('Year')
plt.ylabel('Sales')

# display the chart
plt.show()

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [69]:
data = {"student_id":[1,2,3,4,5,6,7,8,9,10],
       "test_score":[85,90,80,75,85,82,78,85,90,85]}

In [70]:
data = pd.DataFrame(data)

In [73]:
x = data["test_score"].mean()
y = data["test_score"].median()
z = data["test_score"].mode()

print(x,y,z)

83.5 85.0 0    85
Name: test_score, dtype: int64

In [79]:
print("+-----------+--------+")
print("| Statistic | Value |")
print("+-----------+--------+")
print("| Mean | 83.5 |")
print("| Median | 85.0 |")
print("| Mode | 85 |")
print("+-----------+--------+")

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 83.5 |
| Median | 85.0 |
| Mode | 85 |
+-----------+--------+